body {
    font-variant: small-caps;
    color: white; 
}

.header {
    background-color: rgb(120, 26, 221);
    padding: 10px; 
    top: 0; 
    margin-top: 0px;
    text-shadow: navy 2px 2px 
}

.header:hover {
    background-color: rgb(84, 21, 152);
}

.instructions {
    float: right; 
    font-size: 17px;
    background-color: rgb(84, 21, 152);
    border: none;
}

.instructions:hover {
    background-color: rgb(48, 13, 85);
}
.play {
    background-color: navy;
}

.status {
    background-color: navy
}
